
.category-dropdown {
  color: black;
  position: absolute;
  z-index: 100;
  top: 80px;
  left: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

.categories {
  display:inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.see-all {
  color: #35c33f;
  cursor: pointer;
  margin-bottom: 15px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.see-all:hover {
  background-color: #35c33f;
  color: white;
  cursor: pointer;
}

.category-item {
  color: #35c33f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  cursor: pointer;
  border: 2px white solid;
}

.category-item:hover {
  color: white;
  background-color: #35c33f;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #35c33f;
}
