/* TODO make the collapse go away*/

.comment-part {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.comment-part form {
  display: flex;
  flex-direction: row wrap;
}

.comment-part #submit-btn{
  padding: 5px;
  margin: 10px;
  width: 50px;
}

.comment-part textarea {
  width: 90%;
  height: 50px;
  font-size: 15px;
  margin: 0 auto;
}

.comment-part p.commentor {
  color: grey;
  display: block;
  border-bottom: #eee solid 1px;
}


.del-icon {
  display: inline;
  width: 20px;
  height: 20px;
}

.comment-part {
  margin-bottom: 50px;
}

li.comment {
  margin: 0 10px;
  margin-bottom: 30px;
  color: #000;
  font-size: 15px;
}

p.commentor {
  color: grey;
  font-size: 13px;
  display: inline;
  margin-right: 15px;
}

.comment-content {
  margin-left: 10px;
}
