
body {
  font-family: 'Rubik', sans-serif;
}

.home {
  width: 90%;
  margin: 0 auto;
  color: #35c33f;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  align-self: flex-start;
  width: 200px;
  height: 110px;
  cursor: pointer;
}

.side-bars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.include-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-side-bar, .user-side-bar {
  display: inline-flex;
  align-items: center;
}

a.side-link {
  color: #35c33f;
  display: inline-block;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.link-separation {
  height: 20px;
  width: 2px;
  background-color: #35c33f;
  display: inline-block;
  margin: 0 5px;
}

a.side-link:hover {
  background-color: #35c33f;
  color: white;
  cursor: pointer;
}

.user-side-bar .user-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 100px;
  border: solid #ccc 1px;
  border-radius: 5px;
  background-color: white;
  z-index: 50;
}

.dropdown-item {
  padding: 5px;
  text-decoration: none;
  color: #35c33f;
}

.dropdown-item:hover {
  color: white;
  background-color: #35c33f;
}
