html {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Rubik', sans-serif;
}

.home {
  color: #35c33f;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  width: 250px;
  height: 120px;
  cursor: pointer;

}

.home-side-bar, .user-side-bar {
  display: inline-flex;
  align-items: center;
}

a.side-link {
  color: #35c33f;
  display: inline-block;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.link-separation {
  height: 20px;
  width: 2px;
  background-color: #35c33f;
  display: inline-block;
  margin: 0 5px;
}

a.side-link:hover {
  background-color: #35c33f;
  color: white;
  cursor: pointer;
}
