.recipe-detail {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.detail-title {
  color: #35c33f;
  font-size: 30px;
}

.detail-user {
  color: grey;
  font-size: 18px;
  padding-left: 10px;
}

.author-buttons {
  display: inline;
}

.author-buttons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.author-buttons img:first-child {
  margin-left: 15px;
  margin-right: 5px;
}

.recipe-detail label {
  margin: 15px 0;
  font-size: 20px;
  color: #35c33f;
}

.recipe-detail p {
  color: black;
  padding-left: 10px;
  font-size: 18px;
}

.time {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.time h5 {
  margin-right: 10px;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  height: 138px;
  flex-wrap: wrap;
  margin-left: -10px;
}

.ingredient {
  color: #000;
  font-size: 18px;
  display: inline;
  margin: 0 20px;
}

.steps-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.step-img {
  width: 500px;
  height: 400px;
  margin: 30px auto;
  display: block;
}

.step-text {
  color: #000;
  margin: 30px 10px;
}
