.detail-container {
  display: flex;
  flex-direction: column;
}

.recipe-detail {
  display: flex;
  flex-direction: row;
}

.recipe-all-part {
  width: 70%;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.detail-title {
  color: #35c33f;
  font-size: 30px;
}

.detail-user {
  color: grey;
  font-size: 18px;
  padding-left: 10px;
}

.author-buttons {
  display: inline;
}

.author-buttons img, .del-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.author-buttons img:first-child {
  margin-left: 15px;
  margin-right: 5px;
}

.detail-container label {
  margin: 15px 0;
  font-size: 20px;
  color: #35c33f;
}

.recipe-detail p {
  margin: 15px 0;
  color: black;
  padding-left: 10px;
  font-size: 18px;
}

.time {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.time h5 {
  margin-right: 10px;
}

.ingredient-part {
  width: 30%;
}

.ingredient-list {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

li.ingredient {
  padding: 20px 0;
  color: #000;
  font-size: 17px;
  display: inline;
}

.steps-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.step-img {
  width: 70%;
  max-width: 400px;
  margin: 30px auto;
  display: block;
  align-self: center;
}

.step-text {
  color: #000;
  margin: 30px 10px;
}

.recipe-detail .ingredient-part p {
  margin-bottom: 40px;
}
