.recipe_index_container {
  display: flex;
  flex-direction: column;
}

.recipe_index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category_title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.recipe_index_item {
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
}

.recipe_index_item:hover {
  background-color: #cbf1ce;
  border-radius: 5px;
}

.rep_img {
  width: 400px;
  height: 300px;
  display: block;
}

.item_title {
  color: #35c33f;
  font-size: 20px;
  border-bottom: 1px #ddd solid;
}

.item_author {
  padding-left: 10px;
  color: grey;
}

.item_time {
  padding-left: 10px;
}
