.search-dropdown {
  border: #eee 1px solid;
  border-radius: 5px;
  width: 55%;
  position: absolute;
  top: 60px;
  left: 270px;
  background-color: #e3e0d9;
  z-index: 30;
}

#select, #search-input {
  font-family: 'Rubik', sans-serif;
}

.autocomplete-item {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.autocomplete-item:hover {
  color: white;
  background-color: #3b3b3b;
  border-radius: 5px;
  cursor: pointer;
}

.autocomplete-item img {
  width: 50px;
  height: 50px;
}

.autocomplete-item p {
  margin-left: 10px;
}


.search-explanation {
  padding: 5px 20px;
  text-align: center;
}
