.search-container {
  width: 500px;
  margin-bottom: 10px;
}

.search-form {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  width: 100%;
}

.search-form > * {
  font-size: 15px;
  padding: 3px 10px;
}

.search-form button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: 5px;
}

.search-form button > img {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

.search-form select {
  margin: 0 5px;
  font-size: 12px;
  width: 100px;
}

.search-form button:hover {
  cursor: pointer;
}

.search-form input {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
  width: 100px;
  transition: width 0.5s ease-in-out;
}

.search-form input:focus {
  width: 300px;
}
