.user-liked-page h1, .user-created-recipes-page h1 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  color: #825f00;
}

.user-page-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  height: 70vh;
}

.userpage-img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.userpage-img:hover {
  cursor: pointer;
  box-sizing: border-box;
  border: 3px #e3e0d9 solid;
}
